{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Browse Courses</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>   
    <link rel="stylesheet" href="{% static 'css/ng-rateit.css' %}" />

    <script src="{% static 'js/angular.min.js' %}"></script>             
    <script src="{% static 'js/ng-FitText.min.js' %}"></script>    
    <script src="{% static 'js/ng-rateit.js' %}"></script>
    <script src="{% static 'js/ng-infinite-scroll.min.js' %}"></script>        
    <script src="{% static 'js/browse_courses.js' %}"></script>    
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>     
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
</head>
<body>
    {% verbatim %}    
    <!-- <div class="container" ng-app="browse_courses" ng-controller="myCtrl" infinite-scroll="load_more()" infinite-scroll-distance="2" infinite-scroll-disabled='scrollable'> -->
    <div class="container" ng-app="browse_courses" ng-controller="myCtrl">
        <h1>Browse All Courses:-</h1>
        <hr>
        <div class="row">
            <div class="col-sm-2" ng-repeat="course in courses.results track by $index">
                <div class="card">
                    <img class="card-img-top" ng-src="{{ course.thumbnail }}" alt="Card image" style="width:100%; height: 150px; object-fit: contain;">
                    <div class="card-body" style="text-align: center;">
                        <h3 class="card-title" data-fittext data-fittext-min="10" data-fittext-max="18">{{ course.course_name }}</h3>
                        <h6 class="card-text">{{ course.author }}</h6>
                        <ng-rate-it ng-model="course.rating" read-only="true"></ng-rate-it>
                        {{course.rating}} Stars |
                        ({{ course.no_of_ratings }}) Ratings
                        <a href="#" class="btn btn-primary" style="width: 100%;">View</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>        
    </div>
    {% endverbatim %}       
</body> 
</html>