{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Browse Course Modules</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/angular.min.js' %}"></script>    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>      
    <script src="{% static 'js/sortable.js' %}"></script>            
</head>
<body>
    {% if allow_access %}    
     <div class="container" ng-app="edit_modules" ng-controller="myCtrl">   
        <div style="text-align:center;">
            <h1>Course Modules</h1>
            <!-- <h3>{{ course }}</h3> -->
            <h3 id="course_id" ng-hide="true">{{ course.id }}</h3>
            <h3 id="csrf" ng-hide="true">{{ csrf_token }}</h3>
            <br>
            <hr>
        </div>
        <div>
            {% verbatim %}
                <div ng-repeat="each in modules  | orderBy : 'order'">
                    <div class="row">
                        <div class="col-sm-1">
                            <h3> {{ $index + 1 }} </h3>
                        </div>
                        <div class="col-sm-6">
                            <h3> {{ each.name }} </h3>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#viewModal" ng-click="view_module(each, $index)">
                                VIEW
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#quizModal" ng-click="view_module(each, $index)">
                                QUIZ
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
            {% endverbatim %}
            <br>            
        </div>
    </div>
    {% else %}
        <div class="container">
            <div style="text-align:center;">
                <h1>Course Modules</h1>
            </div>
            {% for module in modules  %}
                <div class="row">
                    <div class="col-sm-1">
                        <h3> {{ forloop.counter }} </h3>
                    </div>
                    <div class="col-sm-6">
                        <h3> {{ module }} </h3>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %} 
    
    <script src="{% static 'js/browse_course_details.js' %}"></script>
</body>
</html>
