{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Course</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">    
</head>
<body>
    <br/>
    <br/>
    {{ text }}
    <div class="container">
        <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="OK">
        </form>
    </div>
    <br/>    
</body>
</html>